

.App{
  display: flex;
  gap: 5rem;
}
.menu{
  width: 600px;
  background-color: lightblue;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

